{{#if this.show}}
  <PlaceAutocomplete
    placeholder="Adres1"
    @onSelect={{this.onSelect}}
    @placeIdOnly={{true}}
  />
  <PlaceAutocomplete
    placeholder="Adres2"
    @onSelect={{this.onSelect}}
    @placeIdOnly={{true}}
  />
  <PlaceAutocomplete
    placeholder="Adres3"
    @onSelect={{this.onSelect}}
    @placeIdOnly={{true}}
  />
{{/if}}
<button type="button" {{on 'click' (fn (mut this.show) true)}}>
  Göster
</button>
<button type="button" {{on 'click' (fn (mut this.show) false)}}>
  Gizle
</button>